/*
 * HLA-LA Nextflow Configuration
 */

manifest {
    name            = 'HLA-LA'
    author          = 'HLA-LA Team'
    description     = 'HLA typing from NGS data using a population reference graph'
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.10'
    version         = '2.0.0'
}

params {
    bam        = null
    graph_dir  = null
    sample_id  = 'sample'
    long_reads = ''
    threads    = 4
    outdir     = 'results'
}

process {
    executor = 'local'
    memory   = '16 GB'
    time     = '6h'

    withName: 'REMAP_TO_PRG' {
        memory = '32 GB'
    }
    withName: 'ALIGN_AND_TYPE' {
        memory = '32 GB'
        time   = '12h'
    }
}

profiles {
    docker {
        docker.enabled = true
        process.container = 'hlala:2.0.0'
    }
    singularity {
        singularity.enabled = true
        process.container = 'hlala_2.0.0.sif'
    }
    conda {
        conda.enabled = true
    }
    test {
        params.bam       = 'test_data/NA12878.bam'
        params.graph_dir = 'graphs/PRG_MHC_GRCh38_withIMGT'
        params.sample_id = 'NA12878'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/report.html"
}
